* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-menu {
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 45%;
    height: 100%;
    /* background-color:bisque; */
    display: flex;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 6% 3%;
    font-size: 20px;
    transition: 0.5s;
    font-weight: 700;
}

.menu a:hover {
    color: #FF2359;
}

.e-learn {
    width: 35%;
    height: 100%;
    /* background-color:rgb(245, 153, 39); */
    display: flex;
}

.e-learn a {
    text-decoration: none;
    color: #FF2359;
    font-size: 34px;
    font-weight: 600;
    margin: 7% 5%;
}

.sigh-up {
    width: 20%;
    height: 100%;
    /* background-color:bisque; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.sign-up i {
    font-size: 30px;
    padding: 15px;
    color: #FF2359;
    cursor: pointer;
}

.sign-up select {
    padding: 15px 30px;
    font-size: 20px;
    background-color: white;
    border-radius: 100px 0 100px 100px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 10px;
    appearance: none;
}

.sign-up select:hover {
    background-color: #FF2359;
    transition: 0.5s;
}

option {
    background-color: #FCF3EC;
}

.sigh-up button {
    border-radius: 100px 0 100px 100px;
    border: none;
    background-color: white;
    font-size: 20px;
    transition: 0.5s;
    padding: 7% 19%;
}

.sigh-up button:hover {
    color: white;
    background-color: #FF2359;
}

.full-body-2 {
    width: 100%;
    height: 1000px;
    background-color: #FCF3EC;
}

.title {
    width: 100%;
    height: 20%;
    /* background-color: rgb(70, 70, 39); */
    display: flex;
    justify-content: center;
}

.sub-title {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.top-sub-title {
    width: 100%;
    height: 50%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.buttom-sub-title {
    width: 100%;
    height: 50%;
    /* background-color: tomato; */
    font-size: 20px;
    text-align: center;
}

.buttom-sub-title p {
    margin: 0 100px;
    color: rgb(126, 132, 149);
}

.box-menu {
    width: 100%;
    height: 10%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
}

.sub-box-menu {
    width: 50%;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
}

.border-menu,
.border-menu-1 {
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-menu button {
    background-color: #FED1DC;
    color: #FF2359;
    padding: 25px 50px;
    font-size: 17px;
    border-radius: 100px 0px 100px 100px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.border-menu-1 button {
    background-color: #FF2359;
    color: white;
    padding: 25px 50px;
    font-size: 17px;
    border-radius: 100px 0px 100px 100px;
    border: none;
    cursor: pointer;
}

.border-menu button:hover {
    color: white;
    background-color: #FF2359;
    transition: 0.5s;
}

.box-type {
    width: 100%;
    height: 70%;
    /* background-color: sandybrown; */
    display: flex;
    justify-content: center;
}

.sub-box-type {
    width: 80%;
    height: 100%;
    /* background-color: slategray; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box-course {
    width: 32%;
    height: 90%;
    /* background-color: red; */
    border-radius: 20px 0 20px 0;
    background-color: white;
    color: #FF2359;
    border-color: rgb(126, 132, 149);
    overflow: hidden;
}

.box-img {
    width: 100%;
    height: 50%;
    /* background-color: powderblue; */
    border-radius: 20px 0 20px 0;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-name {
    width: 100%;
    height: 15%;
    /* background-color: violet; */
    color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.box-detail {
    width: 100%;
    height: 20%;
    /* background-color: wheat; */
    color: rgb(126, 132, 149);
}

.box-detail p {
    margin: 0 20px;

}

.box-price {
    width: 100%;
    height: 15%;
    /* background-color: teal; */
    display: flex;
    border-radius: 20px 0 20px 0;
}

.price {
    width: 60%;
    height: 100%;
    color: black;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

.join-now {
    width: 40%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-now button {
    color: black;
    background-color: white;
    border-radius: 100px 0 100px 100px;
    border-color: #FF2359;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.5s;
    cursor: pointer;
}

.join-now button:hover {
    color: white;
    background-color: #FF2359;
    transition: 0.5s;
}

.box-1empty {
    width: 100%;
    height: 200px;
    background-color: #FCF3EC;
}


.empty-footer {
    width: 100%;
    height: 100px;
}

.footer {
    width: 100%;
    height: 400PX;
    /* background-color: #FF2359; */
}

.top-footer-5 {
    width: 100%;
    height: 70%;
    /* background-color: #3CADA9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-top-footer-5 {
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.sub-top-footer-5-1 {
    width: 38%;
    height: 100%;
    /* background-color: violet; */
    overflow: hidden;
}

.top-footer-5-1-title {
    width: 100%;
    height: 20%;
    /* background-color: #666463; */
    display: flex;
    align-items: center;
    /* padding-left: 15px; */
    cursor: pointer;
}

.top-footer-5-1-title h2 {
    color: black;
}

.top-footer-5-1-title h2:hover {
    color: #FF2359;
}

.top-footer-5-1-p {
    width: 100%;
    height: 35%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    /* padding-left: 40px; */
    color: #666463;
}

.top-footer-5-1-name {
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    align-items: center;
    display: flex;
    /* padding-left: 40px; */

}

.top-footer-5-1-social {
    width: 100%;
    height: 25%;
    /* background-color: turquoise; */
    display: flex;
    align-items: center;
    font-size: 30px;
}

.top-footer-5-1-social a {
    color: #FF2359;
    margin-right: 15px;
}

.sub-top-footer-5-2 {
    width: 18%;
    height: 100%;
    /* background-color: tomato; */
    overflow: hidden;
}

.top-footer-5-2-title {
    width: 100%;
    height: 40%;
    /* background-color: rgb(88, 79, 78); */
    display: flex;
    align-items: center;
    /* padding-left: 40px; */

}

.top-footer-5-2-menu {
    width: 100%;
    height: 20%;
    /* background-color: tan; */
    display: flex;
    align-items: center;
    /* padding-left: 15px; */
}

.top-footer-5-2-menu p {
    color: black;
}

.top-footer-5-2-menu p:hover {
    color: #FF2359;
}

.sub-empty-footer {
    width: 100%;
    height: 100px;
}